
*{
    box-sizing: border-box;
}
html,body{
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    
}
ul, li{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

