@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  text-align: left;
}

html,
body {
  padding: 0;
  margin: 0;
  color: #262626;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
}
a {
  color: inherit;
}
svg {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  display: block;
  max-width: 100%;
}

p {
  margin: 0;
  padding: 0;
}

ul,
li {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  cursor: pointer;
  color: initial;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.x-container {
  max-width: 1200px;
  height: 100%;
  padding: 0 10px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
